$green-200: #BCEFEF;
$green-300: #DCF3F3;
$green-400: #7DE1E1;
$green-500: #34C6CD;
$green-600: #BBEFEF;
$green-700: #59D3D7;
$green-800: #5BD6DA;

$blue-gray-600: #558184;

$gray-100: #C0C0C0;
$gray-200: #D8D8D8;

$white-900: #FFFFFF;

$black-400: #424242;
$black-700: #333333;
$black-900: #000000;

$red-100: #B52020;

$shadow-400: rgba(52, 198, 205, 0.5);
