$green-300: #dcf3f3;
$green-400: #7DE1E1;
$green-500: #34C6CD;
$green-600: #BBEFEF;
$green-700: #59D3D7;
$green-800: #5BD6DA;

$blue-gray-600: #558184;

$gray-100: #C0C0C0;

$white-900: #FFFFFF;

$black-400: #424242;
$black-700: #333333;
$black-900: #000000;

$shadow-400: rgba(8, 35, 48, 0.24);
$shadow-500: rgba(54, 123, 245, 0.24);
$shadow-600: rgba(54, 123, 245, 0.32);
$shadow-900: rgba(8, 35, 48, 0.24);