@use 'ds-system/ds-colors.scss';
@use "ds-system/ds-typography";

.page__body {
    height: 100%;

    font-family: "Montserrat", "Arial", sans-serif;
    color: ds-colors.$black-900;
    @include ds-typography.r-s16-h24;

    margin: 15px auto 150px;

    background-color: ds-colors.$green-400;
    background: radial-gradient(256.01% 100.02% at 0% 55.5%, ds-colors.$white-900 0%, ds-colors.$green-400 100%, ds-colors.$green-600 100%);
}
