<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Личный кабинет SkyScada</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="css/style.min.css">
    </head>
    <body class="page__body">
        <header class="page-header">
            <div class="page-header__wrapper">
                <a class="page-header__logo" href="index.html">
                    <img class="page-header__logo-image" src="img/logo.svg" width="133" height="83" alt="СкайСкада">
                </a>
                <nav class="main-nav">
                    <div class="main-nav__wrapper">
                        <ul class="main-nav__list site-list">
                            <li class="main-nav__item main-nav__item--active">
                                <a>
                                Главная
                                </a>
                            </li>
                            <li class="main-nav__item">
                                <a href="form.html">
                                    Баланс
                                </a>
                            </li>
                            <li class="main-nav__item">
                                <a href="#">
                                    Услуги
                                </a>
                            </li>
                            <li class="main-nav__item">
                                <a href="#">
                                    История операций
                                </a>
                            </li>
                        </ul>

                        <p class="main-nav__user">ООО "НаноИнжиниринг"</p>

                    </div>
                </nav>
            </div>
        </header>

        <main class="page-main">
            <h1 class="visually-hidden">Выбор задач в личном кабинете</h1>
            <div class="contract">
                <p>Номер Договора: <span>7012315012024</span></p>
            </div>
            <section class="tasks">
                <h2 class="visually-hidden">Файлы для скачивания</h2>
                <div class="tasks__wrapper">
                    <dl class="tasks__list">
                        <div class="tasks__item">
                            <a class="tasks__img">
                                <img src="img/files-task.jpg" width="380" height="414" alt="Файлы для скачивания">
                            </a>
                            <dt class="tasks__title">Файлы для скачивания</dt>
                            <dd class="tasks__description">Ссылки для скачивания программ SuperSCADAEditor, SuperSCADAPlayer и документации</dd>
                        </div>

                        <div class="tasks__item">
                            <a class="tasks__img">
                                <img src="img/consol-task.jpg" width="380" height="414" alt="Файлы для скачивания">
                            </a>
                            <dt class="tasks__title">Консоль SkyScada Server</dt>
                            <dd class="tasks__description">Доступ к консоли SkyScada Server размещенному в облаке </dd>
                        </div> 
                        
                        <div class="tasks__item">
                            <a class="tasks__img">
                                <img src="img/dispatching-task.jpg" width="380" height="414" alt="Файлы для скачивания">
                            </a>
                            <dt class="tasks__title">Диспетчеризация WebGl</dt>
                            <dd class="tasks__description">Доступ к проекту, размещенному облаке</dd>
                        </div>
                        
                        <div class="tasks__item">
                            <a class="tasks__img">
                                <img src="img/dispatching-task.jpg" width="380" height="414" alt="Файлы для скачивания">
                            </a>
                            <dt class="tasks__title">Техподдержка</dt>
                            <dd class="tasks__description">Заявка в техподдержку</dd>
                        </div>                        
                    </dl>                      
                </div>
            </section>    
        </main>
    </body>
</html>
