$green-300: #BBEFEF;
$green-400: #7DE1E1;
$green-600: #34C6CD;
$green-700: #59D3D7;

$blue-gray-600: #558184;

$gray-100: #C0C0C0;

$black-700: #333333;
$black-900: #000000;

$shadow-400: rgba(8, 35, 48, 0.24);
$shadow-500: rgba(54, 123, 245, 0.24);
$shadow-600: rgba(54, 123, 245, 0.32);
$shadow-900: rgba(8, 35, 48, 0.24);
