@use "ds-system/ds-typography";
@use 'ds-system/ds-colors.scss';

.contract {
    width: 1680px;

    margin: 0 auto;
    padding: 0;

    @include ds-typography.r-s22-h33;
    color: ds-colors.$black-400;

    margin-bottom: 94px;

    &__number {
        @include ds-typography.m-s22-h33;
        color: ds-colors.$black-900;
    }
}