@use "ds-system/ds-colors";
@use "ds-system/ds-variables";

.scroll {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px; 

    width: 100%;
    max-height: ds-variables.$scrollbar-height;

    padding: 10px;    

    overflow: auto;  
}
  
.scroll__item {
    padding: 10px;
}
  
.scroll::-webkit-scrollbar {
    width: 10px;
}
  
.scroll::-webkit-scrollbar-track {
    background: ds-colors.$gray-300;
    border: 1px solid ds-colors.$green-100;
    border-radius: 5px;
}
  
.scroll::-webkit-scrollbar-thumb {
    background: ds-colors.$gray-100;
    border: 1px solid ds-colors.$green-100;
    border-radius: 5px;
}
  
.scroll::-webkit-scrollbar-thumb:hover {
    background: ds-colors.$green-100;
}
